 #content{ /*number 8,9*/
    margin: 0 auto;
    max-width: 1600px;

}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 /*number 10*/
{
    text-align: center;
    color: black; 
}
.button-box
{
    text-align: center;
}
main section
{
    text-align: center;
}
#background {
height: 725px;
background-color:#fdf6e3;
}

.body {
background-color: #fcfbfb; 
}
header {
background-color:rgba(20,30,13, .7);
}

nav a:hover {
background-color: rgb(68, 210, 68);
color: white;
text-decoration: none;
}
.home-title{
 
    color: #615e5a;
  
}

.book, .join{
    text-align: center;
    color: black;
    text-decoration: none;
       background-color: #22cd3b;
}



.book:hover, 
.join:hover{
    background-color:#fdf6e3;
    color: rgb(22, 104, 220);
    text-decoration: none;
}
.msg{
    background-color:rgba(20,30,13, .7);
    color: white;
    text-decoration: none;
}

.msg h2{
    background-color:rgba(20,30,13, .7);
    color: white
    
}
.msg p{
    background-color:rgba(20,30,13, .7);
    color: white;
}

footer{
    background-color:rgba(20,30,13, .7);
    color: #fdf6e3;
}

footer a:hover{
    background-color:rgba(110, 180, 60, 0.7);
    color: #2222ca;
    text-decoration: none;
}

.icon {
    width: 80px;
}

footer a{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;  
}

 
footer p {
    font-size: 1.2em;
}    

footer p a:hover {
    text-decoration: underline;
}   
       