@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&display=swap');/*NUMER1*/
 
 
 #content{ /*number 8,9*/
    margin: 0 auto;
    max-width: 1600px;

}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    width: 80px;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
    #hero-img{
        width:100% ;
    }
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1, #hero-msg h4 /*number 10*/
{
    text-align: center;
    color: black; 
}

#hero-msg h4 {
    color: white;
}
.button-box
{
    text-align: center;
}
main section
{
    text-align: center;
}
#background {
height: 725px;
background-color:#fdf6e3;
}

.body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}
header {
background-color:rgba(20,30,13, .7);
display: grid;
grid-template-columns: 150px auto;
}


nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
background-color: rgb(68, 210, 68);
color: white;
text-decoration: none;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.home-title{
 
    color: #615e5a;
  font-family: 'Oswald', 'Lato', sans-serif; 
  font-size: 2em;
  margin-top: 10px;
}

.book, .join{
    text-align: center;
    color: black;
    text-decoration: none;
       background-color: #22cd3b;
       font-size: 18px;
       padding: 15px 30px;
       margin-top: 50px; 
       border-radius: 5px;
}



.book:hover, 
.join:hover{
    background-color:#fdf6e3;
    color: rgb(22, 104, 220);
    text-decoration: none;
}
.msg{
    background-color:rgba(20,30,13, .7);
    color: white;
    text-decoration: none;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2{
    background-color:rgba(20,30,13, .7);
    color: white;
    font-family:'Oswald', 'Lato', sans-serif; 
}
.msg p{
    background-color:rgba(20,30,13, .7);
    color: white;
    font-size:0.8em;
    padding-bottom: 15px;
}

.body1{
    background-color: #4BD9E3;
    height:150px;
    padding: 5px;
    max-width: 1600px;
    width:100%;
    
  }
  .body-img{
    background-image: url(https://img.freepik.com/foto-gratis/fotografia-aerea-rio-rodeado-islas-cubiertas-vegetacion-luz-solar_181624-6504.jpg?size=626&ext=jpg&uid=R118132538&ga=GA1.1.1164816285.1698927933&semt=sph);
    height:400px;
    max-width:1600px;
    width:100%;
      
    background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
    } 
footer{
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a:hover{
    background-color:rgba(110, 180, 60, 0.7);
    color: #2222ca;
    text-decoration: none;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer a{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;  
}

 
footer p {
    font-size: 1.2em;
    color: #fcfbfb;
}    

footer p a:hover {
    text-decoration: underline;
}   
footer .social img{
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0; }

    .card-img {
        border: 10px solid #d9c2a3;
        transition: transform .5s;
        box-shadow: 5px 5px 10px #6f7364;
    }
    .card-img:hover {
        opacity: .6;
        transform: scale(1.1);
    }
    #main.home-grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
/* Set the width for .card-img and .mountains */
.card-img, .mountains {
    width: 100%;
}

/* Place each of the children as specified */
.rivers-card {
    grid-column: 4 / span 4;
    grid-row: 2 / span 2;
}

.camping-card {
    grid-column: 5 / span 7;
    grid-row: 2 / span 2;
}

.rapids-card {
    grid-column: 8 / span 10;
    grid-row: 2 / span 2;
}

#background {
    grid-column: 3 / span 11;
    grid-row: 4 / span 6;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
           

    main section img {
        box-sizing: border-box;
    }

   
    
    @media screen and (max-width: 900px) {
        #hero, .home-grid {
            display: block;
            height: auto;
        }
        nav, footer {
            flex-direction: column;
        }
        nav a {
            display: block;
            padding: 15px;
        }
        #hero {
            margin-top: 0;
        }
        #hero-msg {
            margin-top: 0;
        }
        #hero-msg h4 {
            display: none;
        }
        .home-title {
            font-size: 25px;
            color: #6f7364;
        }
        .rivers-card, .camping-card, .rapids-card { 
            margin: 50px auto;
            width: 60%;
        }
        #background {
            display: none;
        }
        .mountains, .msg {
            width: 80%;
            display: block;
            margin: 0 auto;
        }
        footer {
            margin-top: 25px;
        }
    }
                