@import url("https://fonts.googleapis.com/css?family=Alegreya:900|Open+Sans|Slabo+27px&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
 
 

.navbar {
	list-style:none;
	padding:0;
	/* background:#E17825; */
  background:black;
	width:100%;
	max-width: 3000px;
margin:auto;
}

.navbar-light .nav-item .nav-link {
  text-decoration: blink;
	color: white;
	padding: 10px;
	display:block;
	

}

.navbar-light .navbar-toggler {
   color: blue;
		text-align:center;
}


.navbar li a:hover{
		background:#FE2E2E;
		}
    p1{
      color: white;
      font-size:10px;
    }
    p2{
      color: white;
      font-size:10px;
      text-align: center;
    }