/** pricing.css */
@import url("https://fonts.googleapis.com/css?family=Alegreya:900|Open+Sans|Slabo+27px&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
 
.body01{
  background-color:rgb(207, 207, 37);
  height:170px;
  padding: 50px;
  max-width: 3000px;
  width:100%;
 font-size: small;
}

.navbar {
	list-style:none;
	padding:0;
	/* background:#E17825; */
  background:black;
	width:100%;
	max-width: 3000px;
margin:auto;
}

.navbar-light .nav-item .nav-link {
  text-decoration: blink;
	color: white;
	padding: 10px;
	display:block;
	

}

.navbar-light .navbar-toggler {
   color: blue;
		text-align:center;
}       
           
         h3{
          color:white;
         } 
        
            .titulo:first-letter{  
            font-size: 30px;
        color:rgb(136, 136, 226);
              }
              h1{
                font-size: 30px;
              }
              h5{
                font-size: 20px;
              }
               
               
        h2{
          font-size: 1em;
          text-align: left;
          color: black;
        }
       .squares-wrapper {
    display: flex;
    justify-content: center;
}

.squares-wrapper > .squares {
    width: 1000px;
}
.squares-wrapper > .squares > .square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3px;
}
.square > .img-wrapper img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    padding: auto;
}
.square > .square-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 42px;
}
.square > .square-text-wrapper h2 {
    color: #cea135;
}
	 
	 

		   
                          
                          
                     
                 